.card {
  width: 600px !important;
  padding: 32px !important;
  box-shadow:
    0 7px 30px -10px rgba(150, 170, 180, 0.5) !important;
}

.card p {
  text-align: justify;
}

.card a {
  font-size: 1.2rem;
  margin: 16px 0;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .card {
    width: 350px !important;
    padding: 8px !important;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card a {
    font-size: 1rem;
  }
}