.image {
  padding: 14px;
  height: 80px;
  width: fit-content;
}

.mainDescription {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 600;
  margin-top: 0;
}

.hiddenTitle {
  display: none;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .image {
    padding: 8px;
    height: 60px;
  }

  .mainDescription {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}