.card {
  width: 600px !important;
  padding: 32px !important;
}

.card p {
  text-align: justify;
}

.card img {
  height: 60px;
}

.card a {
  font-size: 1.2rem;
  margin: 16px 0;
  text-decoration: underline;
}

.image {
  padding: 14px;
  height: 80px;
  width: fit-content;
}

.mainDescription {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 600;
  margin-top: 0;
}

.hiddenTitle {
  display: none;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .card {
    width: 350px !important;
    padding: 8px !important;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card a {
    font-size: 1rem;
  }

  .image {
    padding: 8px;
    height: 60px;
  }

  .mainDescription {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}