.element {
  margin: 12px !important;
}

.image {
  padding: 14px;
  height: 56px;
}

.imageLarge {
  padding: 16px;
  height: 80px;
}

@media (max-width: 600px) {
  .imageLarge {
    padding: 8px;
    height: 48px;
  }

  .image {
    padding: 8px;
    height: 32px;
  }
}