.image {
  padding: 14px;
  height: 80px;
  width: fit-content;
}

.mainDescription {
  font-size: 1.2rem;
  text-align: justify;
}

.title {
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: 0;
}

.card {
  width: 600px !important;
  padding: 32px !important;
}

.card p {
  text-align: justify;
}

.card a {
  margin: 16px 0;
text-decoration: underline;
}