.container {
  padding: 0 2rem;
  width: 450px;
  margin: auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  line-height: 1.15;
  font-size: 2rem;
  margin: 0;
  margin-top: 16px;
}

.navigationLink {
  margin: 16px 0;
  line-height: 1.15;
  font-size: 1.5rem;
  text-decoration: underline;
}

.description {
  margin: 16px 0;
  padding: 16px 32px;
  font-size: 14px;
  line-height: 1.8em;
  border-radius: 16px;
  box-shadow:
    0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.description p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  line-height: 1.2rem;
}